.bottom-menu {
    position: fixed;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1002;
}

.bottom-menu button {
    padding: 5px 5px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bottom-menu button:hover {
    background-color: #f0f0f0;
}

.bottom-menu button.active {
    background-color: #d6322d;
    color: white;
}

@media (max-width: 768px) {
    .bottom-menu {
        padding: 10px;
        gap: 10px;
    }

    .bottom-menu button {
        padding: 4px;
    }
}

@media (max-width: 480px) {
    .bottom-menu {
        padding: 10px;
        gap: 10px;
    }

    .bottom-menu button {
        font-size: 14px;
    }
}