.modal-overlay {
    position: fixed;
    padding: 2rem;
    top: 0;
    right: -100%;
    bottom: -100%;
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    transition: right 0.3s ease-in-out, bottom 0.3s ease-in-out;
    pointer-events: none;
}

.modal-overlay.visible {
    right: 0;
    bottom: 0;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 15px;
    pointer-events: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #343434;
}

.close-button:hover {
    color: #d6322d;
}

h2 {
    margin-top: 0;
    color: #343434;
}

p {
    color: #343434;
}

p strong {
    color: #d6322d;
}

@media (max-width: 768px) {
    .modal-overlay {
        padding: 0px;
        right: 0;
        width: 100%;
        height: auto;
        align-items: flex-end;
        bottom: -100%;
        background-color: transparent;
        z-index: 1003;
    }

    .modal-content {
        width: 100%;
        border-radius: 15px 15px 0 0;
        background-color: white;
    }

    .close-button {
        top: 5px;
        right: 5px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .modal-content {
        padding: 10px;
    }

    .close-button {
        top: 5px;
        right: 5px;
        font-size: 16px;
    }
}