.route-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 20px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.route-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    max-width: 400px;
}

.route-menu button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d6322d;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.route-menu button:hover {
    background-color: #b52a25;
}

.route-select__control {
    border: 2px solid #d6322d !important;
    border-radius: 50px !important;
    box-shadow: none !important;
}

.route-select__control--is-focused {
    border-color: #d6322d !important;
    box-shadow: none !important;
}

.route-select__placeholder {
    color: #343434;
    font-size: 14px;
}

.route-select__single-value {
    color: #343434;
    font-size: 14px;
}

.route-select__option--is-focused {
    background-color: #db5b57 !important;
    color: white !important;
}

.route-select__option--is-selected {
    background-color: #db5b57 !important;
    color: white !important;
}

@media (max-width: 768px) {
    .route-menu {
        padding: 15px;
    }

    .route-inputs {
        width: 90%;
    }

    .route-menu button {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .route-menu {
        padding: 10px;
    }

    .route-menu button {
        font-size: 14px;
    }
}